<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto Market</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body style="padding: 12px;">
    <h1>James Coin Market</h1>
    <hr>
    <h3 style="padding: 12px;">Enter number of Crypto Coins to display</h3>

        <form style="max-width:40% ; padding: 12px;" action="/coin" method="POST">
            <div class="mb-3">
                <div style="display: inline-flex;">
                    <label for="number" class="form-label" style="margin-right: 8px;" >Number</label>
                    <input type="number" class="form-control" id="num" name="num">
                </div>
                <div class="mt-2" style="margin-left: 60%;">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                                
            </div>
            
        </form>

        {% block content %}
        {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>








